
		body{
		 background-color: darkgray;	
		}
		
		p{font-family: Marker Felt,;
			text-align: justify;
		}
		
		h1{ font-family: Marker Felt,;
			font-size: 200%;
			font-weight:strong;
			text-align: center;
		}
